---
title: leeight's blog
page_id: index
---
{% include head.html %}

<h1>Web Infrastructure Team</h1>
<div style="overflow: hidden;">
  <div class="qrcode">
    <img src="/images/webinfra-qrcode.png" width="110" height="110" style="float: left; margin-right: 5px;" />
    Our primitive goal is to provide e<string>X</string>cellent technical solutions to help the company's business grow, and build an open technical ecology to promote the development of frontend technology in the company and the industry.
    <i>@ByteDance</i>
    <br/><br/>
    <i>Follow use on WeChat.</i>
  </div>
</div>

<h1>Opening Jobs</h1>
<ol>
  {% for post in site.posts %}
    {% if post.url == "/about" or post.url == "/en/about" or post.url == "/sg" %}
    <li>
      <a href="{{ post.url }}">🔥️{{ post.title | escape_html }}</a>
      <time>{{ post.date | date_to_string }}</time>
    </li>
    {% endif %}
  {% endfor %}
</ol>


<h1>Open Source Projects</h1>
<ol>
  <li><a href="https://modernjs.dev/">https://modernjs.dev/</a></li>
</ol>


<h1>Publications</h1>
<ol>
  <li><a href="https://mp.weixin.qq.com/s/5jR1rgFc6mkwxpmdIDv_Hw">向现代 Javascript 转型</a> <time>2021/04/30</time></li>
  <li><a href="https://mp.weixin.qq.com/s/0AHmP70HnLUZeJWQlRtUKw">ESModule 系列 ㈠ ：演进</a> <time>2021/05/07</time></li>
  <li><a href="https://mp.weixin.qq.com/s/DYYELKMGNuG56EREyLn37g">无码/低码新兴宇宙</a> <time>2021/05/14</time></li>
  <li><a href="https://mp.weixin.qq.com/s/i1Y9GJAYMcCh1EPsJDWQtw">Why TypeScript?</a> <time>2021/05/21</time></li>
  <li><a href="https://mp.weixin.qq.com/s/3zXhCY6Xl-MB8Tp-Gnjctw">探索 Vue 3 中的 JSX</a> <time>2021/05/22</time></li>
  <li><a href="https://mp.weixin.qq.com/s/qDE68Z3JXHo0iBCanWIPuA">Build Systems à la Carte: Theory and Practice</a> <time>2021/05/27</time></li>
  <li><a href="https://mp.weixin.qq.com/s/735yMXZr3GNafaS3mEy8lA">渐进式 Unbundled 开发工具探索之路</a> <time>2021/05/31</time></li>
  <li><a href="https://mp.weixin.qq.com/s/BbvJ-OfcS7Sa-e0Zq6iF1w">SourceMap 与前端异常监控</a> <time>2021/06/18</time></li>
  <li><a href="https://mp.weixin.qq.com/s/0VDBAgEvqB1xiUs540Fu9A">迈入现代 Web 开发（GMTC 2021 演讲《字节跳动的现代 Web 开发实践》全文）</a> <time>2021/07/04</time></li>
</ol>

<!--
<h1>Archives</h1>
<ol>
  {% for post in site.posts %}
    {% if post.url == "/blog/2020/12/we-are-hiring" or post.url == "/bytedance/web-infra" or post.url == "/about" or post.url == "/en/about" or post.url == "/sg" %}
    {% continue %}
    {% endif %}
    <li>
      <a href="{{ post.url }}">{{ post.title | escape_html }}</a>
      <time>{{ post.date | date_to_string }}</time>
    </li>
  {% endfor %}
</ol>
-->

